/*1*/
@media (min-width: 400px){
    body{
        background-color:rgb(40,60,80) !important;
    }
}
/**/
@media(max-width:800px){
    h1{
        text-align: center;
    }
}
/*3*/
@media(orientation:landscape){
    article{
        max-width:50ch
    }
}
/*4*/
@media(orientation:portrait){
    h1{
        max-width: 200px;
        background-color:teal;
    }
}
/*5*/
@media print{
    p{
        font-family: serif;
    }
}
/*6*/
@media(prefers-color-schem: light){
    body, h1{
        color: #111;
        background-color: #ddd;
        
    }
    h1{
        color: #111;
    }
}
/*7*/
@media(hover:hover){
    body a{
        background-color: #212;
        padding-top: 2px 5px;
    }
}
/*8*/
@media(min-width: 800px){
    @media(max-width: 900px){
        body img{
            visibility: hidden;
        }
    }
}
/*9*/
@media(min-width:200px){
    @media(max-width:400px){
        body img{
            width: 400px;
            object-fit: cover;
        }
    }
}
/*10*/
@media screen and (min-resolution:2dppx){
    article{
        background-color: #667;
    }
}